@import url('./format.css');

.root {
    width: 100%;
    background: transparent;
    color: var(--col-white);
}

.header {
    width: 100%;
    padding: 15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid var(--col-pink);
}
.header .logo-txt {
    color: var(--col-white);
    font-size: 1.25rem;
}
.header .logo-txt span {
    color: var(--col-pink);
}
.header .search-box .close-btn, .header .search-btn button{
    width: 35px;
    height: 35px;
    background: var(--col-gray);
    color: var(--col-white);
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* give button hover effect */
.header .search-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--col-dark);
    border: none;
    padding: 15px 20px;
    align-items: center;
    gap: 8px;
    z-index: 1;
    display: none;
}
.search-box form {
    position: relative;
    flex-grow: 1;
}
.search-box form .search-field {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background: var(--col-gray);
    border: none;
    outline: none;
    color: var(--col-white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}
.search-box form .search-field:focus {
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.search-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.search-box.active {
    display: flex;
}



.movie-info-container {
    width: 100%;
}
.poster-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: yellow; */
    padding-top: 50px;
}
.poster-container .poster-wrapper {
    width: 60%;
    max-width: 250px;
    height: auto;
}
.poster-container .poster-wrapper img {
    width: 100%;
    height: auto;
}



.details-container {
    width: 100%;
    /* background: gray; */
    padding: 0 10px;
}
.details-container h1 {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}
.details , .details .meta-info {
    width: 100%;
    padding: 5px 0;
}
.details .meta-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.details .meta-info .rating, .details .meta-info .duration, .details .meta-info .year {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 0 10px;
}
.details .meta-info .rating i {
    color: gold;
}
.details .meta-info .rating p, .details .meta-info .duration p, .details .meta-info .year p {
    font-size: 1rem;
    margin: 0 5px;
}
.details .genre {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.details .genre .genre-item {
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 15px;
    margin: 0 5px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 25px;
}
.details .description {
    padding: 10px 5px;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 23px;
}
.details .xtra-details ul {
    color: #ffffff;
    list-style: none;
}
.details .xtra-details {
    padding: 5px;
}
.details .xtra-details ul li {
    color: #ffffff;
    font-size: 1rem;
    display: flex;
}
.details .xtra-details ul span {
    color: var(--col-pink);
    font-weight: 700;
    padding-right: 15px;
}
.details .xtra-details ul li p {
    display: block;
    margin-right: 20px;
}






.download-container {
    width: 100%;
    padding: 15px;
}
.download-container .download-option {
    text-align: center;
    color: #ffffff;
    padding: 5px;
}
.download-container .download-option h2 {
    font-size: 1rem;
}
.download-container .download-option h2 span {
    font-size: 1rem;
    font-family: sans-serif;
    margin-left: 5px;
}
.download-container .download-option a button {
    margin: 12px 0;
    min-width: 100px;
    padding: 13px 45px;
    border-radius: 30px;
    background: var(--col-pink);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 15px;
}


.middle-container {
    width: 100%;
}
.page-ad-container {
    width: 100%;
    color: var(--col-white);
    text-align: center;
    padding: 100px 30px;
    font-size: 15px;
    /* background: gray; */
}


.sc-container {
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    /* background: gray; */
}
.sc-container h5 {
    color: var(--col-white);
    font-size: 1.5rem;
    text-align: center;
}
.sc-container .sc-block {
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    /* background: yellow; */
}
.sc-container .sc-block img {
    display: inline-block;
    width: 300px;
    height: auto;
}

.file-details-container {
    padding: 0 10px;
}
.file-details-container .file-description{
    width: 100%;
    padding: 10px 5px;
    text-align: left;
    font-size: 1rem;
}
.file-details-container .file-details-list {
    padding: 10px 5px;
    text-align: left;
    font-size: 1rem;
}
.file-details-container .file-details-list ul {
    margin-top: 10px;
    list-style: disc;
    list-style-position: inside;
}
.file-details-container .file-details-list ul li {
    margin-top: 3px;
}



.footer {
    color: var(--col-white);
    text-align: center;
    background: rgb(7, 5, 12);
    font-size: 10px;
    padding: 10px;
}


@media screen and (min-width:500px) {
    .header .search-box {
        width: 50%;
        position: absolute;
        top: 0;
        left: 50%;
    }
    .search-box form .search-field {
        max-width: 300px;
        float: right;
    }
}
@media screen and (min-width:700px) {

    .movie-info-container{
        display: flex;
        align-items: center;
        padding: 10px 0;
        height: auto;
        min-height: 87vh;
    }
    .movie-info-container .poster-container {
        width: 35%;
    }
    .movie-info-container .details-container {
        width: 65%;
    }
    .details .xtra-details ul li p {
        display: inline;
    }
    .download-container {
        padding: 45px 15px;
    }
}
