* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: hsla(222, 25%, 10%);
}
a {
    text-decoration: none;
}



.container {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    max-height: 90px;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid #3182ed;
}
.header .logo-txt {
    font-family: sans-serif;
    color: #fff;
    font-size: 30px;
}
.header .logo-txt span {
    color: hsl(214, 84%, 56%);
}
.header .logo-txt i {
    margin-right: 7px;
    color: #3182ed;
}
.header form {
    position: relative;
    width: 40%;
    max-width: 215px;
    display: none;
}
.header form .search-option {
    width: 80%;
    border: none;
    outline: none;
    background: hsl(218, 39%, 14%);
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 15px 0 0 15px;
    font-weight: 500;
    color: #fff;
}
.header form button {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    width: 20%;
    padding: 9px 0;
    border-left: 1px solid #3182ed;
    float: right;
    background: hsl(218, 39%, 14%);
    border-radius: 0 15px 15px 0;
}
.header .search-btn {
    width: 13%;
    height: 60%;
    max-width: 50px;
    max-height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #3182ed;
}
.header .search-btn i {
    color: #fff;
    font-size: 20px;
}




/* BANNER */

.banner-container {
    width: 100%;
    min-height: 180px;
    height: 56vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 80%;
    height: 80%;
    border-radius: 10px;
}
.swiper-slide img {
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
    display: none;
}
.swiper .swiper-pagination-bullet {
    background: #fff;
}



/* MOVIE SECTIIONS */

.movie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
}
.movie-container .title {
    display: block;
    width: 100%;
    color: #ffff;
    font-size: 35px;
    margin: 10px;
    position: relative;
}
.movie-container .card {
    width: 140px;
    margin: 15px 10px;
    border-radius: 5px;
}

.movie-container .card .card-img img {
    width: 100%;
    height: 190px;
    border-radius: 5px;
}
.movie-container .card .card-txt {
    width: 100%;
    background: transparent;
    padding: 5px;
    color: #ffff;
}
.movie-container .card .card-txt p {
    margin-top: 5px ;
}



/* FOOTER */

.footer {
    width: 100%;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.5);
    background: black;
    text-align: center;
}
.footer p {
    font-size: 10px;
    line-height: 15px;
}


/* MEDIA QUERY FOR RESPONSIVE */

@media screen and (min-width:500px) {
    .header form {
        display: block;
    }
    .header .search-btn {
        display: none;
    }

}
@media screen and (min-width:650px) {
    .swiper {
        width: 600px;
        height: 300px;
    }
    .banner-container {
        height: 40vw;
        min-height: 330px;
    }
}
@media screen and (min-width:900px) {

    .swiper {
        width: 700px;
        height: 350px;
    }
    .banner-container {
        height: 45vw;
        max-height: 450px;
    }
}


